#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.btn-primary {
    background-color: #fd928f;
    border-color: #ebb8b7;
}

.btn-primary:active {
    background-color: #e5a5a4;
    border-color: #ebb8b7;
}

.btn-primary:hover {
    background-color: #dc8584;
    border-color: #ebb8b7;
}

.alert-info {
    background-color: #EBA080;
    border-color: #f2c0ab;
    color: #fff;
}
